<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Uses-feature tags -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.YourApp"
        tools:targetApi="31">

        <!-- File Providers -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.sggsiet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Main Launcher Activity -->
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Student Module Activities -->
        <activity android:name=".StudentModule.StudentComplaints" android:exported="true" />
        <activity android:name=".StudentModule.StudentLeaveNotificationActivity" android:exported="true" />
        <activity android:name=".StudentModule.BudgetRequest" android:exported="true" />
        <activity android:name=".StudentModule.MyBookingsActivity" android:exported="false" />
        <activity android:name=".StudentModule.FullImageViewActivity" android:exported="false" />
        <activity android:name=".StudentModule.VotingPage" android:exported="false" />
        <activity android:name=".StudentModule.ViewBookings" android:exported="false" />
        <activity android:name=".StudentModule.StudentDashboard" android:exported="false" />
        <activity android:name=".StudentModule.EventsActivity" android:exported="true" />
        <activity android:name=".StudentModule.HealthReportActivity" android:exported="true" android:theme="@style/Base.Theme.SGGSIET" />
        <activity android:name=".StudentModule.VotingActivity" android:exported="true" />
        <activity android:name=".StudentModule.ComplaintActivity" android:exported="true" />
        <activity android:name=".StudentModule.BudgetActivity" android:exported="true" />
        <activity android:name=".StudentModule.CheatRecordsActivity" android:exported="true" />
        <activity android:name=".StudentModule.Doubt" android:exported="false" />
        <activity android:name=".StudentModule.ChatActivity" android:exported="false" />
        <activity android:name=".StudentModule.Notice" android:exported="false" />

        <!-- Faculty Module Activities -->
        <activity android:name=".FacultyModule.FacultyLeaveApprovalActivity" android:exported="false" />
        <activity android:name=".FacultyModule.FacultyLeaveApplicationActivity" android:exported="false" android:theme="@style/Base.Theme.SGGSIET" />
        <activity android:name=".FacultyModule.FacultyComplainRecordActivity" android:exported="false" />
        <activity android:name=".FacultyModule.FacultyChatView" android:exported="false" />
        <activity android:name=".FacultyModule.SolveDoubt" android:exported="false" />

        <!-- Doctor Module Activities -->
        <activity android:name=".DocterModule.DocterDashboard" android:exported="false" />
        <activity android:name=".DocterModule.AddStudentReport" android:exported="false" />
        <activity android:name=".DocterModule.ViewStudentReports" android:exported="false" />
        <activity android:name=".DocterModule.ViewMyAppointments" android:exported="false" />

        <!-- Admin Module Activities -->
        <activity android:name=".AdminModule.PrincipalDashboard" android:exported="true" />
        <activity android:name=".AdminModule.LeavesManagement" android:exported="true" />
        <activity android:name=".AdminModule.HomeComplaints" android:exported="true" />
        <activity android:name=".AdminModule.FacilityRegistration" android:exported="true" />
        <activity android:name=".AdminModule.BudgetOverview" android:exported="true" />
        <activity android:name=".AdminModule.ElectionModule" android:exported="true" />
        <activity android:name=".AdminModule.UploadData" android:exported="true" />
        <activity android:name=".AdminModule.AdmissionModule" android:exported="true" />
        <activity android:name=".AdminModule.ExamModule" android:exported="true" />
        <activity android:name=".AdminModule.NotificationModule" android:exported="true" />

        <!-- Guard Module Activities -->
        <activity android:name=".GardModule.GardConfirmedActivity" android:exported="false" />
        <activity android:name=".GardModule.GardApproveActivity" android:exported="false" />
        <activity android:name=".GardModule.GardDashBoardActivity" android:exported="false" />
        <activity android:name=".StudentModule.GardLogin" android:exported="false" />

    </application>
</manifest>